body {
	padding-top: 50px;
    /* padding-bottom: 30px; */
    color: #313131;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    background: #f4f4f6;
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.jumbotron {
    /* background-image:url(/assets/images/jumbotronbck1-dark.jpg); */
    background-position: 50% 50%;
    background-size:100%;
    /* background-attachment:fixed; */
    text-align: center;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
}

/*
.jumbotron .btn  {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5); 
  text-shadow: none;
}
*/

.jumbotron .btn:hover  {
    color: #fff;
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}


.jumbotron .btn {
    font-size: 48px;
    font-family: Audiowide;
    color: #FF9900;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;}

.ico-big-jumbotron {
    font-size: 36px;
}

.jumbotron-footer>a {
    padding: 20px 0 0 0;
    color: #fff;
}


.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom,#00b5ff 0,#039cdb 100%);
    border: none;
    box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.4); 
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1f5e99;
    background-image: none; #linear-gradient(to bottom,#0289c0 0,#1f5e99 100%);
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #1f5e99;
}

.project_title_panel {
	overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
    line-height: 20px;
}

.crop {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 100%;
    #height: 300px;
    #margin: -75px 0 0 -100px;
}

.cropdescription {
    max-height: 200px;
    overflow: hidden;
    display: block;
    height: 100px;
    font-size: 12px;
    margin: 8px 0 8px 0;
    text-align: justify;
}

.cropdescription>a {
    color: black;
    text-decoration: none;
}

.cropdescription>a:hover {
    color: black;
    text-decoration: none;
}

.ico-big {
    font-size: 24px;
    display: inline-block;
}

.panel-default>.panel-heading{
    background-color: #fff;
}

.panel-default {
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}

.btn {
     /* box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.08);  */
}


.footer {
    bottom: 0;
    width: 100%;
    background-color: #666;
    color: #eee;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
}

.footer-sillywalk {
    padding-top: 20px;
    text-align: right;
}

.progress {
    height: 8px;
    margin-bottom: 2px;
}

.panel-footer {
    background-color: #fff;
    border: none;
    font-size: 10px;
    padding: 8px 0 16px;
}

.text-light {
    color: #999;
}

.steps-sidebar {
    background-color: white;
    margin: 0px;
    padding: 4px;
}

.steps-sidebar > h2 {
   padding: 8px 8px;
   text-align: center;
}

.steps-sidebar  h3 {
   padding: 4px 0px 14px;
   margin: 0;
   font-size: 18px;
}

.steps-sidebar > .one-step {
  margin: 16px 8px;
}

.steps-sidebar > .tocomplete {
    padding: 12px 8px;
    color: #999;
    background-color: #f6f6f6;
}

.steps-sidebar > .inprogress {
    padding: 12px 8px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;

}

.steps-sidebar > .completed {
    padding: 12px 8px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.project-container-text {
  padding: 12px;
}

.input-price {
  width: 100px;
  height: 52px;
  font-size: 28px;
  display: block;
  float: left;
}

.steps-sidebar .btn {
  font-size: 18px;
  height: 52px;
  margin-left: 12px;
}

.steps-sidebar form {
  margin: 24px 0 24px 48px;
}

.project-container {
    background-color: #fff;
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    padding: 0px;
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}


