body {
    /* padding-top: 50px; */
    /* padding-bottom: 30px; */
    color: #313131;
    /* font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: HelveticaNeueLight, HelveticaNeue-Light, 'Helvetica Neue Light', ArialLight, Arial-Light, 'Arial Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    /* background: #f4f4f6; */
    background-color: #f8f8f8;
}

@font-face {
  /* font-family: 'Audiowide'; */
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); */
}

.img-logo {
  width: 160px;
  margin-top: -2px;
}

.glyphicon-lamp {
  /* color: #3399FF; */
}

h1, h2 {
  font-family: HelveticaNeueUltraLight,HelveticaNeue-Ultra-Light,HelveticaNeue-UltraLight,"Helvetica Neue Ultra Light",HelveticaNeueLight,HelveticaNeue-Light,"Helvetica Neue Light",ArialLight,Arial-Light,"Arial Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.red {
  color: #FF0000;
}

.text-bold {
  font-weight: bold;
}

.jumbotron {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.img-navbar {
  width: 32px;
  height: 32px;
}

.nav>li>.img-link{
  margin: 10px 0 0 0;
  padding: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse {
    background-color: #0084BB;
    border: none;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus
{
    color: #fff;
    background-color: rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover
{
	background-color: rgba(0,0,0,0.3);
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
    background-color: white;
  }
}

.project_title_panel {
	overflow: hidden;
  white-space: nowrap;
  display: block;
  position: relative;
  line-height: 26px;
}

.crop {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background: #DEDEDE; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, rgba(0,0,0,0.03),rgba(0,0,0,0)); /* Safari */
    background: -o-radial-gradient(circle, rgba(0,0,0,0.03),rgba(0,0,0,0)); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(0,0,0,0.03),rgba(0,0,0,0)); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(0,0,0,0.03),rgba(0,0,0,0)); /* Standard syntax */
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.03) inset;
}

.crop img, .view-crop img{
    width: 100%;
   /* margin-top: -4%; */
}

.view-crop img{
    /* margin-top: -9%; */
}


.crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.view-crop {
    width: 100%;
    max-height: 330px;
    overflow: hidden;
}

.Project-shortdescription {
  margin: 8px 0 24px;
}

.page-header {
    margin: 0px 0 20px;
}

.page-header h4 {
  padding-right: 12px
}

.cropdescription {
    max-height: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    max-height: 72px;
    font-size: 12px;
    margin: 8px 0 8px 0;
    text-align: justify;
    position: relative;
}

.well {
  background-color: #eee;
  border: none;
  box-shadow: none;
  margin-bottom: 12px;
}

.well-footer {
  margin-top: 14px;
  
}

.paragraph-end  {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
    bottom: 0;
    height: 25px;
    max-height: 100%;
    position: absolute;
    right: 0;
    width: 120px;
}

.cropdescription>a {
    color: black;
    text-decoration: none;
}

.cropdescription>a:hover {
    color: black;
    text-decoration: none;
}

.btn-footer-onecard {
    padding-top: 36px;
    /* height: 60px;  */
}

.btn-footer-onecard-inactive {
  /*height: 30px;*/
}

.one-card-notif {
  position: absolute;
  margin: -25px 0 0 6px;
}

.one-card-notif .badge {
  background-color: rgba(238,162,54,0.7);
  border-radius: 3px;
}

.btn-project-disabled {
    background: none;
}

.ico-big {
    font-size: 24px;
    display: inline-block;
}

.panel-default>.panel-active{
    background-color: #fff;
}

.panel-default {
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    overflow:hidden;
}

.panel-body {
    position: relative;
}

.panel h3 {
  font-size: 22px;
}

.btn {
     /* box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.08);  */
}

/* Form */


.footer, .footer a, .footer a:hover {
    bottom: 0;
    width: 100%;
    background-color: #666;
    color: #eee;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 14px;
    color: white;
}

.footer-sillywalk {
    padding-top: 20px;
    text-align: right;
}

.panel {
  margin-bottom: 42px;
}

.panel-steps {
  background-color: transparent;
  display: block;
  text-align: center;
  height: 44px;
}

.without-progression {
  height: 150px;
}

.progress {
    clear: left;
    height: 8px;
    margin-bottom: 2px;
}

.noprogress {
    height: 10px;
}

.table {
  background-color: white;
}

.panel-footer {
    background-color: #fff;
    border: none;
    font-size: 12px;
    padding: 8px 0 16px;
}

.panel-footer-credits-progression {
  display: block;
  height: 22px;
}


.panel-default>.panel-inactive, .panel-inactive {
  background-color: #e1e1e4;
  border-color: #e1e1e4;
}

.panel-inactive .paragraph-end {
background: none;
}

.text-light {
    color: #999;
}

.steps-sidebar {
    background-color: white;
    margin: 0px 0px 32px 0px;
    padding: 4px;
}

.steps-sidebar > h2 {
  margin: 6px 0;
   padding: 8px 8px 8px;
   text-align: center;
}

.steps-sidebar  h3 {
   padding: 8px 0px 14px;
   margin: 0;
   font-size: 18px;
}

.steps-sidebar > .one-step {
    margin: 12px 4px;
    padding: 12px 16px;
    text-align: justify;
}

.steps-sidebar > .tocomplete {
    color: #999;
    background-color: #f6f6f6;
}

.steps-sidebar > .inprogress {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;

}

.steps-sidebar > .completed {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.step-sidebar-description {
  /* margin-top: 12px; */
}

.step-isCompleted {
  display: block;
  float: left;
  border: 1px solid #ddd;
  color: #ddd;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 2px 0 0 6px;
  margin: 0 6px 8px 0;
  border-radius: 10px;
}

.step-isCompleted:hover{
  text-decoration: none;
}

.step-completed-litle {
  background-color: #a9e2a9;
  border-color: #a9e2a9;
  color: white;
}

.step-completed-litle:hover{
  color: #4cae4c;
}

.summary {
  text-align: center;
  margin: 0px 0px 32px 0px;
  padding: 4px 4px 16px 4px;
  /* background-color: #f4f4f6; */
  background-color: white;
}

.summary-days {
  position: relative;
  top: 5px;
  font-size: 30px;
  margin: 0px 8px;
}

.summary-days-label {
  /*
  vertical-align: middle;
  display: block;
  margin-bottom: 22px;
  */
}

.
.project-edit {
  background-color: #fff;
}

.project-container-text {
  padding: 24px;
  text-align: justify;
  font-size: 14px;
}

.project-image-container {
  text-align: center;
}

.project-image-container {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 136px;
}

.img-project-main,
.img-project {
    width: 56px;
    height: 56px;
    margin: 6px 0 0 0;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    border: 1px solid white;
}

.img-project-main {
    margin: 0px 0 0px 6px;
}

.participants-frame {
  margin-top: 12px;
}

.img-project-main-participant {
    width: 42px;
    height: 42px;
    margin: 6px 0 0 0;
}

.img-crew-master-big {
    /*
    width: 48px;
    height: 48px;
    margin: 6px 0 0 0;
    border: 3px dotted LightSkyBlue;
    */
    width: 46px;
    height: 46px;
    margin: 6px 0 0 0;
    border: 2x dotted gold;
}

.crew {
    margin: 16px 0 0 0;
    max-height: 38px;
    overflow: hidden;
    padding: 5px;
}

.img-crew {
    width: 28px;
    height: 28px;
    margin: 0;    
}

.img-crew-master {
    width: 32px;
    height: 32px;
    margin: 0;
    border: 2px dotted gold;
}

.label-as-badge {
    border-radius: 1em;
}

.label-badge-participant {
  position: absolute;
  margin: 4px 0 0 -16px;
}

.step-title {
  float: left;
}

.step-price {
  float: right;
  margin-right: 16px;
}
.step-price-bg{
  font-size: 24px;
}

.step-credits {
  font-weight: bold;
  margin-top: 20px;
}

.input-price {
  width: 80px;
  height: 34px;
  font-size: 14px;
  display: block;
  float: left;
}

.input-price-modal {
  width: 80px;
  height: 34px;
  font-size: 14px;
  display: block;
  float: left;
  margin: 0 8px;
}

.modal-img {
  max-width: 90%;
}

.steps-sidebar-pledge {
  /*
  font-size: 18px;
  height: 52px;
  margin-left: 12px;
  */
}

.steps-sidebar-form {
  margin: 12px 0 24px 48px;
}

.sidebar-footer {
  background-color: #fff;
  padding: 12px;
}

.project-container {
    background-color: #fff;
    border-color: #fff;
    padding: 0px;
    margin-bottom: 24px;

}

.img-profile-main {
    width: 128px;
    height: 128px;
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

.projectCard {
  cursor:pointer;
}

.opc-action-left {
  text-align: left;
  float: left;
}

.opc-action-right {
  text-align: center;
  width: 50%;
  float: left;
}

.btn-onecard {
}

.btn-onecard-text {
}

.btn-heart-inactive {
  color: #fdaec4;
}

.btn-heart-inactive:hover {
  color: #dd2e44;
}

.btn-heart-active {
  color: #dd2e44;
}

.btn-glyphicon-active {
  color: #ccc;
}

.btn-glyphicon-inactive {
  color: gold;
}

.input-group-addon {
  color:red;
}

.title-family {
  float: left;
  display: block;
}

.family-sub-titles {
  margin-bottom: 24px;
}

.family-sub-titles>.pull-left {
  padding-left: 6px;
}

.family-project-btn {
  display: block;
  float: left;
  margin: 21px 0 0 21px;
}

.family-label, .family-label-view {
  font-size: 14px;
  font-weight: lighter;
}

.family-label {
  position: absolute;
  margin: -6px -2px 0px;
  padding: 6px 8px;
  z-index: 1000;
}

.view-be-in {
  height: 26px;
  margin-top: 8px;
} 

.family-label-view a, .family-label a {
  text-decoration: none;
  color: white;
}

.family-label-view a:hover, .family-label a:hover {
  text-decoration: underline;
  color: white;
}

tr.lovelyrow{
}

tr.lovelyrow:hover{
  cursor: pointer;
}

table.nogap{
  border-collapse: collapse;
}

.nav-tabs {
  margin: 8px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-bottom: 4px solid transparent;
    border-radius: initial;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: none;
  border-bottom: 4px solid #d6e9c6;
}

.tab-badge {
    margin: -13px 0px 0px 4px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgba(238,162,54,0.7);
    border-radius: 10px;
    font-weight: bold;
    color: white
}

.project-update-form {
  margin-bottom: 48px;    
}

.project-update-list {
  border-bottom: 1px solid #eee;
}

.project-update {
  margin: 0px 0 0 12px;
  padding: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.update-date-bubble {
  display: block;
  position: absolute;
  border: 1px solid #ddd;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: -12px 0 0 -12px;
  background-color: #fff;
}

.update-date {
  display: block;
  font-size: 12px;
  color: #999;
  margin: -9px 0 0 16px;
  float: left;
  background-color: white;
  padding: 0 8px;
}

.update-description {
  margin: 24px 0 32px 48px;  
}

.project-comments {
  padding: 6px 24px 24px 24px;
}

.project-comment {
  margin-top: 24px;  
}

.project-comment-user {
  display: block;
  float: left;
}

.project-comment-form {
  margin-top: 24px;
}

.arrow-left {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;  
  border-right:10px solid #f6f6f6; 
  margin: 14px 0 0 52px;
}

.comment-message {
  display: block;
  float: left;
  margin: 0px 0 0 18px;
  padding: 14px 24px;
  background-color: #f6f6f6;
  border-radius: 6px;
  max-width: 80%;
}

.comment-date {
  font-size: 10px;
  color: #999;
  margin-top: 8px;
}

.comment-label {
  position: absolute;
  margin: -4px 0 0 1px;
}

.comment-label-owner, .comment-label-owner-summary {
  position: absolute;
  background-color: gold;
}

.comment-label-owner  {
  margin: -4px 0 0 -2px;
}

.comment-label-owner-summary {
  margin: 44px 0 0 0px;
}
