body {
	padding-top: 50px;
    /* padding-bottom: 30px; */
    color: #313131;
    /* font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: HelveticaNeueLight, HelveticaNeue-Light, 'Helvetica Neue Light', ArialLight, Arial-Light, 'Arial Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: #f4f4f6;
}

@font-face {
  /* font-family: 'Audiowide'; */
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  /* src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); */
}

.jumbotron {
    /* background-image:url(/assets/images/jumbotronbck1-dark.jpg); */
    background-position: 50% 50%;
    background-size:100%;
    /* background-attachment:fixed; */
    background-color: #f4f4f6;
    text-align: center;
    color: #999;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
    margin:0;
    padding-bottom: 12px;
}

.jumbotron .btn  {
    font-size: 24px;
    box-shadow: 0px 3px 54px rgba(0, 0, 0, 0.3);
    text-shadow: none;
}

.glyphicon-lamp {
  color: #3399FF;
}

h1 {
  font-family: HelveticaNeueUltraLight,HelveticaNeue-Ultra-Light,HelveticaNeue-UltraLight,"Helvetica Neue Ultra Light",HelveticaNeueLight,HelveticaNeue-Light,"Helvetica Neue Light",ArialLight,Arial-Light,"Arial Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
.jumbotron .btn:hover  {
    color: #fff;
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}


.jumbotron .btn {
    font-size: 32px;
    font-family: Audiowide;
    color: #FF9900;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;}
*/

.red {
  color: #FF0000;
}

.text-bold {
  font-weight: bold;
}

.ico-big-jumbotron {
    /* font-size: 36px; */
}

.jumbotron-footer>a {
    padding: 20px 0 0 0;
    color: #fff;
}

.img-navbar {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.nav>li>.img-link{
  margin: 10px 0 0 0;
  padding: 0;
}

/*
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom,#00b5ff 0,#039cdb 100%);
    border: none;
    box-shadow: 0px -2px 10px 1px rgba(0, 0, 0, 0.4);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1f5e99;
    background-image: none; #linear-gradient(to bottom,#0289c0 0,#1f5e99 100%);
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #1f5e99;
}
*/
.project_title_panel {
	overflow: hidden;
  white-space: nowrap;
  display: block;
  position: relative;
  line-height: 26px;
}

.crop {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 100%;
}

.cropdescription {
    max-height: 200px;
    overflow: hidden;
    display: block;
    height: 86px;
    font-size: 12px;
    margin: 44px 0 0px 0;
    text-align: justify;
}

.cropdescription>a {
    color: black;
    text-decoration: none;
}

.cropdescription>a:hover {
    color: black;
    text-decoration: none;
}

.ico-big {
    font-size: 24px;
    display: inline-block;
}

.panel-default>.panel-active{
    background-color: #fff;
}

.panel-default {
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}

.panel-body {
    position: relative;
}

.panel h3 {
  font-size: 22px;
}

.btn {
     /* box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.08);  */
}

/* Form */


.footer {
    bottom: 0;
    width: 100%;
    background-color: #666;
    color: #eee;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
}

.footer-sillywalk {
    padding-top: 20px;
    text-align: right;
}

.panel-steps {
  background-color: transparent;
  display: block;
  text-align: center;
  height: 44px;
}

.without-progression {
  height: 150px;
}

.progress {
    clear: left;
    height: 8px;
    margin-bottom: 2px;
}

.noprogress {
    height: 194px;
}


.panel-footer {
    background-color: #fff;
    border: none;
    font-size: 10px;
    padding: 8px 0 16px;
}

.panel-footer-credits-progression {
  display: block;
  height: 54px;
}


.panel-default>.panel-inactive, .panel-inactive {
  background-color: #e1e1e4;
  border-color: #e1e1e4;
}

.text-light {
    color: #999;
}

.steps-sidebar {
    background-color: white;
    margin: 0px 0px 32px 0px;
    padding: 4px;
}

.steps-sidebar > h2 {
  margin: 6px 0;
   padding: 8px 8px 8px;
   text-align: center;
}

.steps-sidebar  h3 {
   padding: 8px 0px 14px;
   margin: 0;
   font-size: 18px;
}

.steps-sidebar > .one-step {
    margin: 12px 4px;
    padding: 12px 16px;
    text-align: justify;
}

.steps-sidebar > .tocomplete {
    color: #999;
    background-color: #f6f6f6;
}

.steps-sidebar > .inprogress {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;

}

.steps-sidebar > .completed {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.step-sidebar-description {
  margin-top: 12px;
}

.step-isCompleted {
  display: block;
  float: left;
  border: 1px solid #ddd;
  color: #ddd;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 2px 0 0 6px;
  margin: 0 6px 8px 0;
  border-radius: 10px;
}

.step-isCompleted:hover{
  text-decoration: none;
}

.step-completed-litle {
  background-color: #a9e2a9;
  border-color: #a9e2a9;
  color: white;
}

.step-completed-litle:hover{
  color: #4cae4c;
}

.summary {
  padding-bottom: 16px;
  text-align: center;
}

.summary_days {
  position: relative;
  top: 5px;
  font-size: 30px;
  margin: 0px 8px;
}

.summary_days_label {
  vertical-align: middle;
}

.project-edit {
  background-color: #fff;
}

.project-container-text {
  padding: 24px;
  text-align: justify;
}

.project-image-container {
  text-align: center;
}

.project-image-container {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 136px;
}

.img-project-main,
.img-project {
    width: 56px;
    height: 56px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    margin: 6px 0 0 0;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    border: 1px solid white;
}

.img-project-main {
    margin: 0px 0 0px 6px;
}

.step-title {
  float: left;
}

.step-price {
  float: right;
  margin-right: 16px;
}
.step-price-bg{
  font-size: 24px;
}

.step-credits {
  font-weight: bold;
}

.input-price {
  width: 100px;
  height: 52px;
  font-size: 28px;
  display: block;
  float: left;
}

.steps-sidebar .btn {
  font-size: 18px;
  height: 52px;
  margin-left: 12px;
}

.steps-sidebar form {
  margin: 24px 0 24px 48px;
}

.sidebar-footer {
  background-color: #fff;
  padding: 12px;
}

.project-container {
    background-color: #fff;
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    padding: 0px;
}

.img-profile-main {
    width: 128px;
    height: 128px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

.projectCard {
  cursor:pointer;
}

.opc-action-left {
  text-align: left;
  float: left;
}

.opc-action-right {
  text-align: right;
}

.btn-heart-inactive {
  top: -4px;
  color: #fdaec4;
  font-size: 24px;
}

.btn-heart-inactive:hover {
  top: -4px;
  color: #dd2e44;
}

.btn-heart-active {
  top: -4px;
  color: #dd2e44;
  font-size: 24px;
}

