
{% if isParticipant %}
    {% if imInButton %}
            <span class="btn btn-warning disabled">
                <span class="glyphicon glyphicon-wrench btn-sunglasses-invert" aria-hidden="true"></span> You are in!
            </span>
    {% endif %}

{% else %}

    <a class="btn btn-default" data-toggle="modal" data-target="#participate-modal-{{ id }}">
        <span id="participate-icon-{{ id }}" class="glyphicon glyphicon-wrench btn-onecard btn-glyphicon-{{ isParticipant ? 'inactive' : 'active' }}" aria-hidden="true"></span><span class="btn-onecard-text"> Contribute</span>
    </a>

    {% if message %}
        <p class="text-center alert-danger">{{ message }}</p>
    {% endif %}

{% endif %}
