{% if isParticipant %}

    {% if imInButton %}
        <div class="view-be-in text-center">
            You are in!
        </div>
    {% endif %}

{% else %}

    <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#participate-modal-{{ id }}">
        <span id="participate-icon-{{ id }}" class="glyphicon glyphicon-lamp btn-onecard btn-sunglasses-{{ isParticipant ? 'isactive' : 'active' }}" aria-hidden="true"></span><span class="btn-onecard-text"> I'm in!</span>
    </a>

    {% if message %}
        <p class="text-center alert-danger">{{ message }}</p>
    {% endif %}

{% endif %}