<a
    class="btn"
    href="#"
    id="score-{{ id }}"
    data-endpoint="{{ path('projectOneClickPledge', {id: id}) }}"
    data-input-attr="score"
>
    <span class="glyphicon glyphicon-heart btn-heart" aria-hidden="true"></span>
    Like!
</a>

