{% extends 'base.html.twig' %}


{% block jumbotron %}
<div class="jumbotron">
  <p>Welcome {{ user.nickname | default("to you") }}</p>
  <a class="btn btn-lg btn-success" href="/user/project/publish">Start your project</a>
</div>

{% endblock %}

{% block body %}

<div class="page-header">
	<h1>Hot Projects</h1>
</div>

{% for project in projects %}
  {% include 'default/oneProjectCard.html.twig' %}
{% endfor %}
<script>
	$('.projectCard').on('click', function(e) {
		window.location.href=$(this).data('url');
	});
</script>
{% endblock %}