{% extends 'base.html.twig' %}


{% block jumbotron %}
<div class="jumbotron" style="background-image: url(/assets/images/jumbotronbck{{ backgroundImgNum }}-dark.jpg)">
  <h1>He, Welcome!</h1>
  <p>Welcome {{ user.username| default("toto") }}!</p>
  <a class="btn btn-lg" href="/user/project/publish"><span class="glyphicon glyphicon-certificate ico ico-big-jumbotron"></span> Start your project !</a>
</div>

{% endblock %}

{% block body %}

<div class="page-header">
	<h1>Hot Projects</h1>
</div>

{% for project in projects %}
  {% include 'default/oneProjectCard.html.twig' %}
{% endfor %}
{% endblock %}