{% extends 'base.html.twig' %}


{% block body %}

<div class="page-header">
	<h1>My Projects</h1>
	<h2><a href="/user/project/publish" class="btn btn-lg btn-success">Start your new project</a></h2>
</div>

{% for project in projects %}
  {% include 'default/oneProjectCard.html.twig' %}
{% endfor %}
{% endblock %}