{% block body %}
<div style="font-family:helvetica,arial,sans-serif;padding:0;margin:0" bgcolor="#FFF">
  <center>
    <table border="0" cellpadding="0" cellspacing="0" width="500px">
      <tbody><tr>
        <td>

          <table cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr><td height="50px" width="600px"></td></tr>
            <tr>
              <td align="center">
                  <a href="https://blablafoundry.ext.blablacar.net/"><img style="display:block" src="http://www.chomb.com/wp-content/uploads/2016/02/BlaBlaFoundry_aith_icone.png" alt="BlaBlaFoundry - Share more, Build more" title="BlaBlaFoundry - Share more, Build more" width="400" tabindex="0" /></a>
              </td>
            </tr>
            <tr><td height="24px" width="600px"></td></tr>
            <tr>
              <td style="text-align:left;line-height:22px;font-size:16px">
                <p>{% block email_title %}{% endblock %}</p>
                <p>{% block email_contents %}{% endblock %}</p>
                <br>
                <div>
                      <a style="background-color:#ffbf00;border-radius:25px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:18px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:300px" href="{% block email_btn_link %}{% endblock %}" target="_blank">{% block email_btn_label %}{% endblock %}</span></a>
                  </div>
              </td>
            </tr>
          </tbody></table>

        </td>
      </tr>
     </tbody>
    </table>
    </center>
</div>
{% endblock %}
