{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1>Your {% if not id|default(false) %}new{% endif %} Space:</h1>

    {{ include('AppBundle:Family:familyForm.html.twig', {form: form, id: id|default(false)}) }}

{% endblock %}
