{% extends 'AppBundle::base.html.twig' %}

{% block body %}

{% include 'AppBundle:Family:familyHeader.html.twig' %}


	{% if projects | length == 0 %}
		<div>No projects found</div>
	{% endif %}
{% for project in projects %}
  {% include 'AppBundle:Project:_oneProjectCard.html.twig' %}
{% endfor %}

{% endblock %}

{% block javascripts %}

<script>
	$('.projectCard').on('click', function(e) {
		window.location.href=$(this).data('url');
	});
</script>

{% endblock %}
